<!-- <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
</div> -->
<!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading... -->

    
<div class="backdrop"></div>
<div class="loading-spinner">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>Loading...</div>
</div>
