


<div class="container mt-5 overflow-hidden">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-sm-11 col-lg-5">
            <div class="card shadow">
                <div class="card-body text-center justify-content-center align-items-center">
                    <h5 class="card-title">Welcome to Our Chat Hub</h5>
                    <p class="card-text">
                        Please Join the Room to start Chatting..
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary" (click)="ClickBTN()">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    