<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="mb-3">
        <div class="d-flex align-items-center justify-content-center">
          <a id="sortByAsc" type="button" class="p-3" style="text-decoration: none;" (click)="sortByAsc()">🔼</a>
          <h5 class="mb-0">Sort By Name</h5>
          <a id="sortByDesc" class="p-3" type="button" style="text-decoration: none;" (click)="sortByDesc()">🔽</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="mb-3">
        <form class="row g-3" [formGroup]="inputVal">
          <div class="col-8 col-md-8 col-sm-10">
            <input type="search" id="searchInput" class="form-control" formControlName="val"
              placeholder="Search by Name">
          </div>
          <div class="col-4 col-md-4 col-sm-2">
            <button type="button" id="searchBtn" class="btn btn-primary w-100" (click)="filterData()">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p class="text-center fs-4 mt-5">Devotee List</p>

<ng-container *ngIf="loader;else loadData">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 30vh;">
    <div class="spinner-border " role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="fs-5">Loading...</p>
  </div>
</ng-container>
<ng-template #loadData>
  <div class="overflow-x-auto px-lg-6 px-md-4 px-sm-2" style="scrollbar-width:thin;scroll-behavior: smooth;"
    [ngStyle]="{'scrollbar-width': loader? 'none' : 'thin'}">
    <table class="table table-bordered text-center border-dark-subtle" id="devoteeList">
      <thead>
        <tr>
          <th scope="col" style="background-color: rgb(223, 223, 223);">DevoteeId </th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">First Name</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">Middle Name</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">Last Name</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">Flat Number</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">Area</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">City</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">State</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">Pincode</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">EmailId</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">Photo</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); ">Initiation Date</th>
          <th scope="col" style="background-color: rgb(223, 223, 223); " colspan="2">Operation</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let item of UserList | paginate: { itemsPerPage: 10, currentPage: p }" [id]="item.devoteeId">
          <!-- <tr  *ngFor="let item of UserList | paginate: config" [id]="item.devoteeId"> -->     
          <td>{{item.devoteeId}}</td>
          <td>{{item.firstName}}</td>
          <td>{{item.middleName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.flatNumber}}</td>
          <td>{{item.area}}</td>
          <td>{{item.city}}</td>
          <td>{{item.state}}</td>
          <td>{{item.pincode}}</td>      
          <td>{{item.emailid}}</td>
          <td *ngIf="item.photo === 'model.png';else photo">
            <img style="height: 50px ;width: 50px;" class="rounded"
              [src]="PhotoURl+item.photo" alt="img">
          </td>
          <ng-template #photo>
            <td><a [href]="PhotoURl+item.photo" download target="_blank"><img style="height: 50px ;width: 50px;"
                  class="rounded" [src]="PhotoURl+item.photo" alt="img"></a>
            </td>
          </ng-template>

          <td>{{item.initiationDate | date:"dd-MM-YYYY"}}</td>
          <td>
            <button [id]="'editBtn-'+ item.devoteeId" type="button" class="btn btn-outline-primary "
              (click)="editUser(item)">Edit</button>
          </td>
          <td>
            <button [id]="'deleteBtn-'+item.devoteeId" type="button" class="btn btn-outline-danger"
              (click)="deleteUser(item.devoteeId!)">Delete</button>
          </td>
        </tr>



      </tbody>
    </table>
  </div>


  <div class="d-flex justify-content-center mt-5">
    <!-- <pagination-controls (pageChange)="pageChanged($event)" class="float-right"></pagination-controls> -->
    <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

  </div>
</ng-template>



<!-- <td ><p class="placeholder-wave h-25" style="background-color: grey;color: grey;"  >{{item.devoteeId}}</p></td>
        <td><p class="placeholder-wave" style="background-color: rgb(184, 178, 178);color: grey;" >{{item.firstName}}</p></td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.middleName}}</p></td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.lastName}}</p></td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.flatNumber}}</p></td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.area}}</p></td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.city}}</p></td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.state}}</p></td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.pincode}}</p></td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.emailid}}</p></td>
        <td><img class="placeholder-wave" style="height: 40px ;width: 40px;background-color: grey;color: grey;border-radius: 100%;" [src]="PhotoURl+item.photo" alt="img">
        </td>
        <td><p class="placeholder-wave" style="background-color: grey;color: grey;" >{{item.initiationDate | date:"dd-MM-YYYY"}}</p></td>
        <td>
          <button [id]="'editBtn-'+ item.devoteeId" type="button" class="btn btn-outline-primary "
            (click)="editUser(item)">Edit</button>
        </td>
        <td>
          <button [id]="'deleteBtn-'+item.devoteeId" type="button" class="btn btn-outline-danger"
            (click)="deleteUser(item.devoteeId!)">Delete</button>
        </td> -->