/* You can add global styles to this file, and also import other style files */
.bg-green{
    color: white;
    background: green;
}

.toast-bottom-center{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}