<div class="container-fluid">
  <nav class="py-2 bg-light border-bottom shadow mb-3">
    <div class="d-flex align-items-center justify-content-around px-2">
      <button class="btn btn-info rounded-circle  d-lg-none" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptionsDevotee" aria-controls="offcanvasWithBothOptions"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
          viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
        </svg></button>
      <div class="text-center">
        <h6 class="pt-1">Welcome to Spiritual Center Community</h6>
      </div>
    </div>
  </nav>
  <div class="row mx-3">
    <div class="col-lg-3 d-none d-lg-block rounded" style="border: 1px solid #ccc;">
      <div class="header">
        <img src="../../../../../../assets/download.png" alt="Profile Picture">
        <p class="mt-2" style="font-weight: bold">{{logInUserName}}</p>
      </div>
      <form [formGroup]="searchUserForm">
        <div class="search-box  mb-3">
          <input type="search" class="form-control" placeholder="Search" formControlName="searchValue">
        </div>

      </form>

      <div class="user-container p-md-0">

        <ng-container *ngIf="loader;else loadinguser">
          <ul class="placeholder-wave ">
            <li class="list-group-item d-flex justify-content-between align-items-center placeholder-wave">
              <div class="contact-info">
                <img style="background-color: grey;" class="placeholder-wave">
                <div>
                  <p class="placeholder-wave h-25 rounded" style="background-color: grey;color: grey;">Group
                    Chat</p>
                  <span class="placeholder-wave h-25 rounded"
                    style="background-color: grey;color: grey;font-size: small;">Just now</span>
                </div>
              </div>

            </li>

            <ng-container *ngFor="let item of AllUsers;let i=index">
              <li class="list-group-item d-flex justify-content-between align-items-center placeholder-wave">
                <div class="contact-info">
                  <img style="background-color: grey;" class="placeholder-wave">
                  <div>
                    <p class="placeholder-wave h-25 rounded" style="background-color: grey;color: grey;">
                      Group Chat</p>
                    <span class="placeholder-wave h-25 rounded"
                      style="background-color: grey;color: grey;font-size: small;">Just now</span>
                  </div>
                </div>

                <hr *ngIf="i != AllUsers.length-1">
              </li>
            </ng-container>

          </ul>

        </ng-container>

        <ng-template #loadinguser>
          <ul class="m-0 p-0">
            <li class="list-group-item d-flex justify-content-between align-items-center mt-2 "
              (click)="onListItemClick('Group Chat')"
              [ngClass]="{'bg-primary text-light rounded':selectedListItem == 'Group Chat'}">
              <div class="contact-info">
                <img src="../../../../../../assets/groupImg.png">
                <div>
                  <p class="h-25">Group Chat</p>
                  <span [ngClass]="{'text-light':selectedListItem == 'Group Chat'}">Just now</span>
                </div>
              </div>
              <span class=" translate-middle badge rounded-pill bg-primary"
                [ngClass]="{'d-none':selectedListItem == 'Group Chat'}">+99</span>

            </li>
            <hr>
            <li class="list-group-item d-flex justify-content-between align-items-center mt-2 "
              (click)="onListItemClick('Admin')"
              [ngClass]="{'bg-primary text-light rounded':selectedListItem == 'Admin'}">
              <div class="contact-info">
                <img src="../../../../../../assets/download.png">
                <div>
                  <p class="h-25">Admin</p>
                  <span [ngClass]="{'text-light':selectedListItem == 'Admin'}">Just now</span>
                </div>
              </div>
              <span class=" translate-middle badge rounded-pill bg-primary"
                [ngClass]="{'d-none':selectedListItem == 'Admin'}">+99</span>

            </li>
            <hr>
            <ng-container *ngFor="let item of AllUsers;let i=index">
              <!-- {{i}} = {{item | json}}
                          {{logInUserName}}
                          <hr> -->
              <!-- <li class="user-content col-11">{{item}}</li> -->
              <ng-container *ngIf="item.firstName != logInUserName ">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                  [ngClass]="{'bg-primary text-light rounded':selectedListItem == item.firstName}"
                  (click)="onListItemClick(item.firstName)">
                  <div class="contact-info ">
                    <img src="../../../../../../assets/download.png" alt="Group Chat">
                    <div>
                      <p>{{item.firstName}}</p>
                      <span [ngClass]="{'text-light':selectedListItem == item.firstName}">Just now</span>
                    </div>
                  </div>
                  
                  <span class="translate-middle p-2 bg-success border border-light rounded-circle float-end"
                    [ngClass]="{'d-none':selectedListItem == item.firstName}"></span>
                </li>
                <hr *ngIf="i != AllUsers.length-2">
              </ng-container>

            </ng-container>

          </ul>
        </ng-template>

      </div>
    </div>
    <div class="col col-lg-9">
      <div class="chat-header">
        <div class="user-info">
          <ng-container *ngIf="loader;else lodingChatHeader">
            <p style="background-color: grey;width: 40px;height: 40px;margin-right: 10px;"
              class="placeholder-wave rounded-circle border-0">
            <div>
              <p class="placeholder-wave rounded" style="color: grey;background-color: grey;">{{selectedListItem}}</p>
              <span class="placeholder-wave rounded" style="color: grey;background-color: grey;">Active 1h ago</span>
            </div>
          </ng-container>
          <ng-template #lodingChatHeader>
            <ng-container *ngIf="selectedListItem == 'Group Chat';else personalChat">
              <img src="../../../../../../assets/groupImg.png" alt="Group Chat">
              <div>
                <p>{{selectedListItem}}</p>
                <span style="color: black;">{{this.AllActiveUses}}</span>
              </div>
            </ng-container>
            <ng-template #personalChat>
              <img src="../../../../../../assets/download.png" alt="Group Chat">
              <div>
                <p>{{selectedListItem}}</p>
                <ng-container *ngIf="AllActiveUses.includes(selectedListItem); else offline">
                  <span>Online</span>
                </ng-container>
                <ng-template #offline>
                  <span>Active 1h ago</span>
                </ng-template>
              </div>
            </ng-template>
          </ng-template>

        </div>
      </div>
      <div class="chat-container rounded" #scrollMe>
        <ng-container *ngIf="loader;else loadingchat">
          <ng-container *ngFor="let message of messages">
            <ng-container
              *ngIf="message.sender != logInUserName || (message.content === message.sender +' has Left the Group'|| message.content === message.sender +' has Joined the Group');else other">
              <div class="chat-message message-receiver flex-column placeholder-wave">
                <div class="message-content placeholder-wave" style="background-color: grey;color: grey;">
                  {{message.content}}
                </div>
                <p style="font-size: 0.8rem;color: gray;">{{message.sender}} | {{message.timestamp |
                  date : 'medium'}}</p>
              </div>
            </ng-container>
            <ng-template #other>
              <div class="chat-message message-sender flex-row-reverse placeholder-wave">
                <div class="message-content placeholder-wave" style="color:  #007bff;">
                  {{message.content}}
                </div>
              </div>
              <p style="font-size: 0.8rem;color: gray;text-align: right;">{{message.sender}} |
                {{message.timestamp | date
                : 'medium'}}</p>
            </ng-template>
          </ng-container>
        </ng-container>

        <ng-template #loadingchat>
          <ng-container *ngFor="let message of messages">
            <ng-container
              *ngIf="message.sender != logInUserName || (message.content === message.sender +' has Left the Group'|| message.content === message.sender +' has Joined the Group');else other">
              <div class="chat-message message-receiver flex-column">
                <div class="message-content"
                  [ngClass]="{'text-danger': message.content === message.sender +' has Left the Group','text-success': message.content === message.sender +' has Joined the Group' }">
                  {{message.content}}
                </div>
                <p style="font-size: 0.8rem;color: gray;">{{message.sender}} | {{message.timestamp |
                  date : 'medium'}}</p>
              </div>
            </ng-container>
            <ng-template #other>
              <div class="chat-message message-sender flex-row-reverse">
                <div class="message-content">
                  {{message.content}}
                </div>
              </div>
              <p style="font-size: 0.8rem;color: gray;text-align: right;">{{message.sender}} |
                {{message.timestamp | date
                : 'medium'}}</p>
            </ng-template>
          </ng-container>
        </ng-template>
      </div>
      <div class="input-area">
        <input (keydown.enter)="sendMessage()" [(ngModel)]="inputText" type="text" class="input-field"
          placeholder="Type your message..." id="chatTextAdmin">
        <button class="send-button rounded-circle" (click)="sendMessage()"><svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path
              d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
          </svg></button>

      </div>

    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptionsDevotee"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="header">
      <img src="../../../../../../assets/download.png" alt="Profile Picture">
      <p class="mt-2" style="font-weight: bold">{{logInUserName}}</p>
    </div>
    <form [formGroup]="searchUserForm">
      <div class="search-box  mb-3">
        <input type="search" class="form-control" placeholder="Search" formControlName="searchValue">
      </div>

    </form>

    <div class="user-container p-md-0">

      <ng-container *ngIf="loader;else loadinguser">
        <ul class="placeholder-wave ">
          <li class="list-group-item d-flex justify-content-between align-items-center placeholder-wave">
            <div class="contact-info">
              <img style="background-color: grey;" class="placeholder-wave">
              <div>
                <p class="placeholder-wave h-25 rounded" style="background-color: grey;color: grey;">Group
                  Chat</p>
                <span class="placeholder-wave h-25 rounded"
                  style="background-color: grey;color: grey;font-size: small;">Just now</span>
              </div>
            </div>

          </li>

          <ng-container *ngFor="let item of AllUsers;let i=index">
            <li class="list-group-item d-flex justify-content-between align-items-center placeholder-wave">
              <div class="contact-info">
                <img style="background-color: grey;" class="placeholder-wave">
                <div>
                  <p class="placeholder-wave h-25 rounded" style="background-color: grey;color: grey;">
                    Group Chat</p>
                  <span class="placeholder-wave h-25 rounded"
                    style="background-color: grey;color: grey;font-size: small;">Just now</span>
                </div>
              </div>

              <hr *ngIf="i != AllUsers.length-1">
            </li>
          </ng-container>

        </ul>

      </ng-container>

      <ng-template #loadinguser>
        <ul class="m-0 p-0">
          <li class="list-group-item d-flex justify-content-between align-items-center mt-2 "
            (click)="onListItemClick('Group Chat')"
            [ngClass]="{'bg-primary text-light rounded':selectedListItem == 'Group Chat'}">
            <div class="contact-info">
              <img src="../../../../../../assets/groupImg.png">
              <div>
                <p class="h-25">Group Chat</p>
                <span [ngClass]="{'text-light':selectedListItem == 'Group Chat'}">Just now</span>
              </div>
            </div>
            <span class=" translate-middle badge rounded-pill bg-primary"
              [ngClass]="{'d-none':selectedListItem == 'Group Chat'}">+99</span>

          </li>
          <hr>
          <li class="list-group-item d-flex justify-content-between align-items-center mt-2 "
            (click)="onListItemClick('Admin')"
            [ngClass]="{'bg-primary text-light rounded':selectedListItem == 'Admin'}">
            <div class="contact-info">
              <img src="../../../../../../assets/download.png">
              <div>
                <p class="h-25">Admin</p>
                <span [ngClass]="{'text-light':selectedListItem == 'Admin'}">Just now</span>
              </div>
            </div>
            <span class=" translate-middle badge rounded-pill bg-primary"
              [ngClass]="{'d-none':selectedListItem == 'Admin'}">+99</span>

          </li>
          <hr>
          <ng-container *ngFor="let item of AllUsers;let i=index">
            <!-- {{i}} = {{item | json}}
                          {{logInUserName}}
                          <hr> -->
            <!-- <li class="user-content col-11">{{item}}</li> -->
            <ng-container *ngIf="item.firstName != logInUserName ">
              <li class="list-group-item d-flex justify-content-between align-items-center"
                [ngClass]="{'bg-primary text-light rounded':selectedListItem == item.firstName}"
                (click)="onListItemClick(item.firstName)">
                <div class="contact-info ">
                  <img src="../../../../../../assets/download.png" alt="Group Chat">
                  <div>
                    <p>{{item.firstName}}</p>
                    <span [ngClass]="{'text-light':selectedListItem == item.firstName}">Just now</span>
                  </div>
                </div>
                <span class="translate-middle p-2 bg-success border border-light rounded-circle float-end"
                  [ngClass]="{'d-none':selectedListItem == item.firstName}"></span>
              </li>
              <hr *ngIf="i != AllUsers.length-2">
            </ng-container>

          </ng-container>

        </ul>
      </ng-template>

    </div>
  </div>
</div>